/* COLORS */
:root {
  --background-color: #e5e1da;
  --text-color: #292929;
  --primary-color: #89a8b2;
  --secondary-color: #b3c8cf;
  --white-color: #f5f4f2;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* STYLING */
.cv {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25% 75%;
  height: 80vh;

  margin: 5em;
  border: solid black;
}

.cv__person-details {
  background-color: var(--primary-color);
  padding: 1em;
}

.cv__skills {
  background-color: var(--secondary-color);
  padding: 1em;
}

.cv__about {
  background-color: var(--secondary-color);
  padding: 1em;
}

.cv__experience {
  background-color: var(--white-color);
  padding: 1em;
}
